/* ----- コンテナー ----- */
#container 
{
	width: 960px;
	background: #FFF;
	margin: 0 auto; 
}

/* ----- ヘッダー ----- */
header 
{
	background: #ADB96E;
}

/* ----- メイン ----- */
#content 
{

	padding: 10px 0;
}

/* ----- フッター ----- */
footer {
	padding: 10px 0;
	background: #CCC49F;
}

p#copylight 
{
	font-family:"Arial Black";
	text-align:center;
	font-size: 12px;
	color: #333333;
}